APP_NAME=Lumen
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
APP_TIMEZONE=UTC

LOG_CHANNEL=stack
LOG_SLACK_WEBHOOK_URL=

DB_CONNECTION=mysql
DB_HOST=ccrm-backend-mysql-notes
DB_PORT=3306
DB_DATABASE=ccrmdb
DB_USERNAME=ccrm
DB_PASSWORD=ccrm

CACHE_DRIVER=file
QUEUE_CONNECTION=sync

ACCEPTED_SECRETS= key1_minlenht32,key2_minlenht32,keyX_minlenht32
